* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: url('../assets/images/bg_finalnew.jpg');
    width: 100%;
    height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-div {
    width: 100%;
}

.header-image-div {
    width: 100%;
}

.header-image {
    width: 100%;
}

.game-div {
    width: 100%;
}

.game-image {
    width: 100%;
}

iframe {
    width: 100%;
    height: auto;
    border: 0;
}


.slideshow {
    width: 100%;
    padding-top: 1em;
}

.slideshow-image {
    width: 100%;
}

footer {
    width: 100%;
    padding-top: 1em;
    display: flex;
    justify-content: center;
}

.slick-arrow {
    display: none !important;
}

.modal {
    display: block; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    animation-name: fadeIn;
    animation-duration: 0.4s
}

.modal-content {
    background-color: #fefefe;
    width: 100%;
    animation-name: slideIn;
    animation-duration: 0.4s;
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}


@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

#video-popup {
    width: 100%;
    height: auto;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.share-button-div {
    padding-bottom: 1em;
}

.share-button {
    width: 200px;
    height: 50px;
    background: #dfe6e9;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: .3s linear;
  }

  .share-button:hover{
    transform: scale(1.1);
  }
  .share-button span{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #3386c8;
    color: #f1f1f1;
    text-align: center;
    line-height: 50px;
    transition: .6s linear;
    border-radius: 20px;
   
  }
  .share-button:hover span{
    transform: translateX(-100%);
    transition-delay: .3s;
  }
  .share-button a {
    flex: 1;
    font-size: 26px;
    margin-right: 20px;
    color: #2d3436;
    text-align: center;
    transform: translateX(-100%);
    opacity: 0;
    transition: .3s linear;
  }
  .share-button:hover a {
    opacity: 1;
    transform: translateX(0);
  }
  .share-button a:nth-of-type(1){
    transition-delay: 1s;
  }
  .share-button a:nth-of-type(2){
    transition-delay: .8s;
  }


@media (min-width: 1200px) {
    
    .container {
        width: 60%;
        margin: 0 auto;
    }
    
    .header-div {
        width: 100%;
        padding-bottom: 2em;
    }
    
    .header-image {
        width: 80%;
    }

    .header-image-div {
        text-align: center;
    }
    
    .game-div {
        padding-top: 1em;
        width: 100%;
    }

    iframe{
        height: 350px;
        background: #ffffff;
    }

    .container-slideshow {
        width: 100%;
        margin: 0 auto;
        padding-top: 1em;
    }


    .slideshow-image {
        width: 100%;
        height: auto;
    }

    .slick-arrow {
        display: block !important;
    }

    footer {
        width: 100%;
        background-color: #C4D0E2;
        height: auto;
    }


    .share-button-div {
        margin-bottom: 1em;
        margin-right: 1em;
        margin-left: auto;
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }

        
        .modal {
            display: block; 
            position: fixed;
            z-index: 1; 
            left: 0;
            top: 0;
            width: 100%;
            height: 100%; 
            overflow: auto; 
            background-color: rgba(0,0,0,0.4); 
            animation-name: fadeIn;
            animation-duration: 0.4s
        }
        
        .modal-content {
            background-color: #fefefe;
            margin: 10px auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            animation-name: slideIn;
            animation-duration: 0.4s;
        }

        
        @keyframes slideIn {
            from {bottom: -300px; opacity: 0}
            to {bottom: 0; opacity: 1}
        }
        
        
        @keyframes fadeIn {
            from {opacity: 0} 
            to {opacity: 1}
        }

        #video-popup {
            width: 100%;
            height: auto;
        }

}

